.dive {border: solid 1px black ;max-width:100vw}
.video {margin-left: 25% ;
    margin-bottom: 2%;
    width:50% ; height:50%
}
h1{ color: red;
    }
p{ font-style: oblique;}
img{ margin-left: 35%;
    width:30% ; height:30%
}
div{
    display: flex;
    flex-direction: column;
}
body{
    background: #C6FFDD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}